.yo-test-component {
  display: block;
  width: 100%;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 100px;
  color: white;
  background-color:green;
  font-family: 'Source Sans Pro', sans-serif;
}
